<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\SHYAM\OneDrive\Desktop\Python Tutorials\FlaskWebApp\env\Scripts\python.exe|&quot;C:\Users\SHYAM\OneDrive\Desktop\Python Tutorials\FlaskWebApp\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
